[color]
  ui = auto

[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[user]
	name = Christian Köstlin
	email = christian.koestlin@gmail.com

[merge]
  keepBackup = false
  tool = p4merge

[mergetool "p4merge"]
  cmd = /Applications/_dev/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false

[diff]
  external = p4diff.sh

#[diff]
#  external = myopendiff.sh
#[merge]
#	tool = opendiff
